In [4]:
for val in range(1,5):
    print(val)

1
2
3
4

In [6]:
numbers = list(range(1,6))
numbers

[1, 2, 3, 4, 5]

In [8]:
even_numbers = list(range(2,11,2))
even_numbers

[2, 4, 6, 8, 10]

In [10]:
numbers = list(range(1, 11))
square_nums = []

for number in numbers:
    square_nums.append(number ** 2)
    
square_nums
len(square_nums)

10

In [13]:
squares = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
digits = range(0,11)
min(digits)

0

In [15]:
max(digits)

10

In [16]:
sum(digits)

55

In [20]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
test = [7,7,7]

squares = [val ** 2 for val in test]
print(squares)

[49, 49, 49]

In [24]:
twenty = [val for val in range(1,21)]

for val in range(1,21):
    print(val)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [29]:
million = [val for val in range(1,1000000)]
len(million)

million = list(range(1,1000000))
len(million)
sum(million)

499999500000

In [33]:
message = "you'll NEVER believe what that 'FrIeNd' of mine did!!1"
message[0].upper()

'Y'

In [45]:
message[0].upper() + message.lower()[1::]

"You'll never believe what that 'friend' of mine did!!1"

In [46]:
int('00101010', 2)

42

In [47]:
int('01', 2)

1

In [49]:
1 << 1

2

In [50]:
2 << 1

4

In [60]:
inputA = int('00100011',2)
print(inputA)

35

In [61]:
inputB = int('00101101',2)
print(inputB)

45

In [62]:
inputA & inputB

33

In [64]:
inputA | inputB

47

In [65]:
inputA ^ inputB

14

In [67]:
million = list(range(1,1000001))
min(million)

1

In [68]:
max(million)

1000000

In [72]:
odd = [print(val) for val in range(1,21,2)]

1
3
5
7
9
11
13
15
17
19

In [70]:
for val in list(range(1,21,2)):
    print(val)

1
3
5
7
9
11
13
15
17
19

In [73]:
[print(val) for val in range(3,31,3)]

3
6
9
12
15
18
21
24
27
30

[None, None, None, None, None, None, None, None, None, None]

In [75]:
for val in range(3,31,3):
    print(val)

3
6
9
12
15
18
21
24
27
30

In [77]:
[val**3 for val in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [79]:
for val in range(1,11):
    print(val**3)

1
8
27
64
125
216
343
512
729
1000